.categoryPanel button{text-transform: capitalize !important}

/* .categoryPanel .submenu{display :none} */

 li .menu{visibility: hidden; z-index: 1000; } 
 li:hover .menu{opacity: 1;  visibility:inherit;}



 li .menu li .submenu{top: 0px !important; left:120% !important; opacity: 0 !important;}
 li .menu li:hover .submenu{left: 100%  !important; opacity: 1 !important;}

li .menu button{color: rgba(0,0,0,0.8) !important}
li .menu li:hover button{color: #ff5252 !important}

li .menu li .submenu button{color: rgba(0,0,0,0.8) !important}
li .menu li .submenu button:hover{color: #ff5252 !important}
